@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: pink;
}
h1{
    color: #a11c96;
    font-size: 40px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 20px;
}
div{
    width: 80%;
    margin: 0 auto;
    border-right: 3px solid rgb(228, 107, 127);
    border-radius: 3px;
    color: #ce2ac0;
    font-size: 18px;
}
a{
    margin-top: 50px;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    float: right;
    text-decoration: none;
    color: #fff;
    padding: 25px 40px;
    background-color: #a11c96;
    box-shadow: -7px 1px 22px 8px rgba(180,31,168,0.76);
}
span{
    color: #d10ec1;
    font-weight: bold;
}