@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: pink;
}
h1{
    margin-top: 10px;
    margin-left: 30px;
    color:#a11c96;
    font-size: 48px;
}
div{
    width: 90%;
    margin: 0 auto;
    font-size: 28px;
    color: #ce2ac0;
}
button{
    background-color: plum;
    border: 2px solid rgb(192, 116, 192);
    padding: 10px 20px;
}
input{
    margin-left: 5%;
}
.link{
    margin-top: 20px;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    float: right;
    text-decoration: none;
    color: #fff;
    padding: 25px 40px;
    background-color: #a11c96;
    box-shadow: -7px 1px 22px 8px rgba(180,31,168,0.76);
}